body {
    background-color: beige;
}

.putin {
    color:green;text-align: center;
}
.lol {
    color: green;text-align: center;
}
.sha {
    color: green; text-align: center;
}
.Chadé {
    color: green;
}
.Bobo {
    color: green;
}
.Ani {
    color: green;
}