
.je{
    background-color: green; color: red;text-align: center;

}

.lol{
      color: green;text-align: center;

}
.merde{
     transform: rotate(300deg);
     

}
.bon{
    border-collapse: collapse;
}

.lol2{
    border-collapse: collapse;transform: rotate(300deg);
}

.{
    border-collapse: collapse;
}
body{
    background-color: beige;
}